body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('pexels-quang-nguyen-vinh-222549-2148101.jpg'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

label {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
